<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
          {% include media-url.html src=site.avatar %}
        {%- endcapture -%}
        <img src="{{- avatar_url -}}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {%- endif -%}
    </a>

    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
    <p class="site-subtitle fst-italic mb-0">{{ site.tagline }}</p>
  </header>
  <!-- .profile-wrapper -->

  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <!-- home -->
      <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>
      <!-- the real tabs -->
      {% for tab in site.tabs %}
        <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
          <a href="{{ tab.url | relative_url }}" class="nav-link">
            <i class="fa-fw {{ tab.icon }}"></i>
            {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

            <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
          </a>
        </li>
        <!-- .nav-item -->
      {% endfor %}
      <!-- Add other flags similarly -->
    </div>
    <li class="language-support">
      <span>
          <div>Choose Your Language<div>
          <span id="google_translate_element" style="display:none;"></span>
          <!-- "새 번역 링크 UI" -->
          <span class="flag-container translation-links">
            <span class="language-flag"><img data-lang="ko" src='{{ "/assets/img/language/ko.png" | relative_url }}' alt="ko"></span>
            <span class="language-flag"><img data-lang="en" src='{{ "/assets/img/language/en.png" | relative_url }}' alt="en"></span>
            <span class="language-flag"><img data-lang="ja" src='{{ "/assets/img/language/ja.png" | relative_url }}' alt="ja"></span>
            <span class="language-flag"><img data-lang="zh-CN" src='{{ "/assets/img/language/cn.png" | relative_url }}' alt="cn"></span>
            <span class="language-flag"><img data-lang="zh-TW" src='{{ "/assets/img/language/tw.png" | relative_url }}' alt="tw"></span>
            <span class="language-flag"><img data-lang="hi" src='{{ "/assets/img/language/hi.png" | relative_url }}' alt="hi"></span>
          </span>
      </span>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'ko',
                includedLanguages: 'ko,en,ja,zh-CN,zh-TW,hi',
                autoDisplay: true
            }, 'google_translate_element');
        }

        document.addEventListener('DOMContentLoaded', function() {
            const translationLinks = document.querySelector('.translation-links');
            
            if (translationLinks) {
                translationLinks.addEventListener('click', function(event) {
                    const clickedElement = event.target;
                    
                    if (clickedElement.tagName === 'IMG' && clickedElement.dataset.lang) {
                        const targetLanguage = clickedElement.dataset.lang;
                        const googleTranslateCombo = document.querySelector('.goog-te-combo');
                        
                        if (googleTranslateCombo) {
                            googleTranslateCombo.value = targetLanguage;
                            googleTranslateCombo.dispatchEvent(new Event('change'));
                        }
                    }
                    event.preventDefault();
                });
            }
        });
    </script>

    </li>
    </ul>
  </nav>

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->
